{:paths ["resources" "src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.0"}
        cljfx {:mvn/version "1.2.0"}
        re-find {:git/url "https://github.com/borkdude/re-find"
                 :sha "c27af619a9d9e12832b7446e127d68ab916ce78c"}
        org.clojure/test.check {:mvn/version "0.9.0"}
        speculative {:git/url "https://github.com/borkdude/speculative"
                     :sha "ce1befe6ba63aa852ad5415fd62341b9afc0b8a5"}}
 :aliases
 {:local-deps {:extra-deps {speculative {:local/root "../speculative"}
                            re-find {:local/root "../re-find"}}}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "RELEASE"}}}
  :runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "cb96e80f6f3d3b307c59cbeb49bb0dcb3a2a780b"}}
   :main-opts ["-m" "cognitect.test-runner"
               "-d" "test"]}}}
